
.bg1{
    background-image: url('../../../assets/images/bg1.jpg');
    background-repeat:no-repeat;
    background-position: center center;
    height: 500px;
    width: 100vw;

}
.bg2{
    background-image: url('../../../assets/images/bg2.jpg');
    background-repeat:no-repeat;
    background-position: center center;
    height: 500px;
    width: 100vw;
}